<div class="card"  *ngIf="isUserHasPermission">
  <div class="card-header">
    <strong>Production User Approvals</strong>
  </div>
  <div class="card-body">
    <productioncard [Production_ID]="model.Production_ID"></productioncard>
    <div class="row details1" *ngFor="let item of model.Items">
      <div class="col-md-2">
        <b>{{item.DepartmentName}}</b>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="email">Status:</label>
          <select class="form-control" [(ngModel)]="item.Action_Status_ID">
            <option value="0">--Select--</option>
            <option value="1">Approve</option>
            <option value="2">Reject</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="email">Comments:</label>
          <textarea cols="50" [(ngModel)]="item.Action_Comments"></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="email">Supporting Docs:</label>
          <app-attachment-grid [groupName]="'Approver'" [prodmilestoneId]="item.P_D_Approval_ID"></app-attachment-grid>
        </div>
      </div>
      <div class="dashedline"></div>
    </div>
  </div>
  <div class="card-footer">
    <button id="btnSave1" name="btnSave1" (click)="save()" class="btn-primary btn">Save Details</button>
  </div>
</div>
<div class="card" *ngIf="!isUserHasPermission">
  <div class="p-4 bg-warning">You do not have access to this page.</div>
</div>
