
<div class="card">
  <div class="card-header">
    <h4>Manage Department Milestones</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="email">Workflow Name:</label>
        <select class="form-control" [(ngModel)]="model.Workflow_ID">
          <option *ngFor="let workflowItem of workflowItems" [value]="workflowItem.Workflow_ID">{{workflowItem.Workflow_Name}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="email">Phase :</label>
        <select class="form-control" [(ngModel)]="model.Phase_ID">
          <option *ngFor="let phaseItem of phaseItems" [value]="phaseItem.Product_Phase_ID">{{phaseItem.Phase_Name}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="email">Milestone Name:</label>
        <input type="text" class="form-control" id="Milestone_Name" [(ngModel)]="model.Milestone_Name">
      </div>
      <div class="form-group col-md-6">
        <label for="email">Milestone Desc:</label>
        <input type="text" class="form-control" id="Milestone_Desc" [(ngModel)]="model.Milestone_Desc">
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
  </div>
</div>
<br />
<div class="card">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Workflow Name</th>
        <th>Phase Name</th>
        <th>Milestone Name</th>
        <th>Milestone Desc</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Items">
        <td>{{item.WorkflowName}}</td>
        <td>{{item.PhaseName}}</td>
        <td>{{item.Milestone_Name}}</td>
        <td>{{item.Milestone_Desc}}</td>
        <td>
          <button class="btn-sm btn-primary" (click)="editItem(item)">Edit</button>
        </td>
        <td>
          <button class="btn-sm btn-danger ml-2" (click)="delete(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
