<div class="card maincard" *ngIf="prodItem">
  <div class="row details">
    <div class="col-md-3">
      <b>Tractor Part Number: </b>{{prodItem.Tractor_Part_Number}}
    </div>
    <div class="col-md-3">
      <b>Engine Part Number: </b>{{prodItem.Engine_Part_Number}}
    </div>
    <div class="col-md-3">
      <b>Transmission Part Number: </b>{{prodItem.Transmission_Part_Number}}
    </div>
    <div class="col-md-3">
      <b>Hydraulics Part Number: </b>{{prodItem.Hydraulics_Part_Number}}
    </div>
    <div *ngIf="(prodItem.Status=='Process Initiated')" class="col-md-3 processInitiated">
      <b>Status : </b>{{prodItem.Status}}
    </div>
    <div *ngIf="(prodItem.Status=='Awaiting Approval')" class="col-md-3 AwaitingApproval">
      <b>Status : </b>{{prodItem.Status}}
    </div>
    <div *ngIf="(prodItem.Status=='Awaiting Final Approval')" class="col-md-3 AwaitingFinalApproval">
      <b>Status : </b>{{prodItem.Status}}
    </div>
    <div class="col-md-3">
      <b>Created By :</b> {{prodItem.Created_By}}
    </div>
    <div class="col-md-3">
      <b>Created On : </b>{{prodItem.Created_Date | date:'medium'}}
    </div>
  </div>
</div>
