<div class="card" style="width:90%">
  <div class="card-header">
    <strong>New Production Request</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="card" style="width:100%">
        <div class="card-header">
          <strong>Other</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-2">
             
                <label for="dateFin">Date:</label>
                <p-calendar id="dateFin" dateFormat="dd/mm/yy" [(ngModel)]="productionRequest.Date" inputStyleClass="form-control"></p-calendar>
              </div>
              <!--<div class="form-group">
                <label for="email">Date:</label><strong style="color:red">*</strong>
                <p-calendar inputStyleClass="form-control" [(ngModel)]="productionRequest.Date"
                            [ngModelOptions]="{standalone: true}" dateFormat="mm/dd/yy">
                </p-calendar>
              </div>-->
            <div class="col-md-3">
              <div class="form-group">
                <label for="email">Type:</label><strong style="color:red">*</strong>
                <select id="drptype" name="drptype" class="form-control">
                  <option selected>New Model</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="email">Workflow:</label><strong style="color:red">*</strong>
                <!--<p-dropdown class="primeNgControl" [options]="workflowItems" [(ngModel)]="productionRequest.Workflow_ID" optionLabel="Workflow_Name"></p-dropdown>-->
                <select class="form-control" [(ngModel)]="productionRequest.Workflow_ID">
                   <option *ngFor="let workflowItem of workflowItems" [value]="workflowItem.Workflow_ID">{{workflowItem.Workflow_Name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width:100%">
          <div class="card-header">
            <strong>Tractor</strong>
          </div>
          <div class="card-body">
            <div class="row col-md-12">

              <div class="form-group">
                <label for="email">Part Number:</label>
                <input type="text" class="form-control" id="Tractor_Part_Number" [(ngModel)]="productionRequest.Tractor_Part_Number">
              </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">Series:</label>
                  <input type="text" class="form-control" id="Tractor_Series" [(ngModel)]="productionRequest.Tractor_Series">
                </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">SAP Series:</label>
                  <input type="text" class="form-control" id="Tractor_SAP_Series" [(ngModel)]="productionRequest.Tractor_SAP_Series">
                </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">Change:</label>
                  <input type="checkbox" class="form-control" id="Is_Change_Tractor" [(ngModel)]="productionRequest.Is_Change_Tractor">
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width:100%">
          <div class="card-header">
            <strong>Engine</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">Part Number:</label>
                  <input type="text" class="form-control" id="Engine_Part_Number" [(ngModel)]="productionRequest.Engine_Part_Number">
                </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">Series:</label>
                  <input type="text" class="form-control" id="Engine_Series" [(ngModel)]="productionRequest.Engine_Series">
                </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">SAP Series:</label>
                  <input type="text" class="form-control" id="Engine_SAP_Series" [(ngModel)]="productionRequest.Engine_SAP_Series">
                </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">Change:</label>
                  <input type="checkbox" class="form-control" id="Is_Change_Engine" [(ngModel)]="productionRequest.Is_Change_Engine">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width:100%">
          <div class="card-header">
            <strong>Transmission</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">Part Number:</label>
                  <input type="text" class="form-control" id="Transmission_Part_Number" [(ngModel)]="productionRequest.Transmission_Part_Number">
                </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">Series:</label>
                  <input type="text" class="form-control" id="Transmission_Series" [(ngModel)]="productionRequest.Transmission_Series">
                </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">SAP Series:</label>
                  <input type="text" class="form-control" id="Transmission_SAP_Series" [(ngModel)]="productionRequest.Transmission_SAP_Series">
                </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">Change:</label>
                  <input type="checkbox" class="form-control" id="Is_Change_Transmission" [(ngModel)]="productionRequest.Is_Change_Transmission">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width:100%">
          <div class="card-header">
            <strong>Hydraulics</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">Part Number:</label>
                  <input type="text" class="form-control" id="Hydraulics_Part_Number" [(ngModel)]="productionRequest.Hydraulics_Part_Number">
                </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">Series:</label>
                  <input type="text" class="form-control" id="Hydraulics_Series" [(ngModel)]="productionRequest.Hydraulics_Series">
                </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">SAP Series:</label>
                  <input type="text" class="form-control" id="Hydraulics_SAP_Series" [(ngModel)]="productionRequest.Hydraulics_SAP_Series">
                </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group">
                  <label for="email">Change:</label>
                  <input type="checkbox" class="form-control" id="Is_Change_Hydraulics" [(ngModel)]="productionRequest.Is_Change_Hydraulics">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button type="button" (click)="saveProductionRequest();" name="btnSave" id="btnSave" class="btn btn-primary">Save</button>
    <button type="button" name="btnCancel" id="btnCancel" class="ml-2 btn btn-secondary">Cancel</button>
  </div>
</div>
