<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <a [routerLink]="['/phase']" class="tile purple">
        <h3 class="title">Manage Phases</h3>
        <p>manage the production phases.</p>
      </a>
    </div>
    <div class="col-sm-6">
      <a [routerLink]="['/workflow']" class="tile orange">
        <h3 class="title">Manage Workflows</h3>
        <p>manage the different workflows.</p>
      </a>
    </div>
    <div class="col-sm-6">
      <a [routerLink]="['/milestone']" class="tile purple">
        <h3 class="title">Manage Phase Milestones</h3>
        <p>manage the production phase milestones.</p>
      </a>
    </div>
    <div class="col-sm-6">
      <a [routerLink]="['/manageuser']" class="tile orange">
        <h3 class="title">Manage User Permissions</h3>
        <p>manage the user and his roles and departments.</p>
      </a>
    </div>
    <div class="col-sm-6">
      <a [routerLink]="['/manageapprovers']" class="tile purple">
        <h3 class="title">Manage Workflow Approvers</h3>
        <p>manage the workflow department wise approvers.</p>
      </a>
    </div>
  </div>
  </div>
