<div class="row box-shadow gridBox" style="width:100%;height:100%;">
  <div class="col-md-2">
    <div class="row searchForm" style="height:100%;">
      <div>
        <div class="form-group">
          <button type="button" class="btn btn-primary ml-4 mt-4" (click)="newRequest();">New Request</button>
        </div>
        <div class="form-group">
          <label for="email">Tractor Part Number:</label>
          <input type="text" class="form-control" id="Tractor_Part_Number" [(ngModel)]="searchModel.Tractor_Part_Number">
        </div>
        <div class="form-group">
          <label for="pwd">Engine Part Number:</label>
          <input type="text" class="form-control" id="Engine_Part_Number" [(ngModel)]="searchModel.Engine_Part_Number">
        </div>
        <div class="form-group">
          <label for="pwd">Transmission Part Number:</label>
          <input type="text" class="form-control" id="Transmission_Part_Number" [(ngModel)]="searchModel.Transmission_Part_Number">
        </div>
        <div class="form-group">
          <label for="pwd">Hydraulics Part Number:</label>
          <input type="text" class="form-control" id="Hydraulics_Part_Number" [(ngModel)]="searchModel.Hydraulics_Part_Number">
        </div>
        <button type="button" class="btn btn-primary" (click)="searchRecords();">Search</button>
        <button type="button" class="btn btn-secondary ml-2" (click)="clear();">Clear</button>
      </div>
    </div>
  </div>
  <div class="col-md-10 searchResults row">
    <div class="col-md-3" *ngFor="let item of productionList">
      <div class="SearchItem">
        <div class="tractorportnum">
          <b>Tractor : </b>{{item.Tractor_Part_Number}}
        </div>
        <div class="engineportnum">
          <b>Engine : </b>{{item.Engine_Part_Number}}
        </div>
        <div class="transmissionportnum">
          <b>Transmission : </b>{{item.Transmission_Part_Number}}
        </div>
        <div class="hydraulicsportnum">
          <b>Hydraulics : </b>{{item.Hydraulics_Part_Number}}
        </div>
        <div *ngIf="(item.Status=='Process Initiated')" class="hydraulicsportnum processInitiated">
          <b>Status : </b>{{item.Status}}
        </div>
        <div *ngIf="(item.Status=='Awaiting Approval')" class="hydraulicsportnum AwaitingApproval">
          <b>Status : </b>{{item.Status}}
        </div>
        <div *ngIf="(item.Status=='Awaiting Final Approval')" class="hydraulicsportnum AwaitingFinalApproval">
          <b>Status : </b>{{item.Status}}
        </div>
        <div *ngIf="(item.Status=='Approved/Not Approved')" class="hydraulicsportnum AwaitingFinalApproval">
          <b>Status : </b>Completed
        </div>
        <div class="hydraulicsportnum">
          <b>Created By :</b> {{item.Created_By}}
        </div>
        <div class="hydraulicsportnum">
          <b>Created On : </b>{{item.Created_Date | date:'medium'}}
        </div>
        <div class="hydraulicsportnum">
          <div _ngcontent-qwc-c46="" class="row mx-0">
            <div _ngcontent-qwc-c46="" class="col-md-12 mt-2 cardicons">
              <div _ngcontent-qwc-c46="" class="row py-2">
                <div _ngcontent-qwc-c46="" class="col-md-3 col-3 border-right text-center">
                  <a _ngcontent-qwc-c46="" [routerLink]="['newrequest',item.Production_ID]">
                    <img _ngcontent-qwc-c46="" src="assets/images/Project.png" alt="">
                  </a>
                </div>
                <div _ngcontent-qwc-c46="" class="col-md-3 col-3 border-right text-center">
                  <a _ngcontent-qwc-c46="" [routerLink]="['/milestoneapprovals',item.Production_ID]">
                    <img _ngcontent-qwc-c46="" src="assets/images/MilestoneDashboardwhite.png" alt="">
                  </a>
                </div>
                <div _ngcontent-qwc-c46="" class="col-md-3 col-3 border-right text-center">
                  <a _ngcontent-qwc-c46="" [routerLink]="['/approvers',item.Production_ID]">
                    <img _ngcontent-qwc-c46="" src="assets/images/Project_new.png" alt="">
                  </a>
                </div>
                <div _ngcontent-qwc-c46="" class="col-md-3 col-3 text-center">
                  <a _ngcontent-qwc-c46="" [routerLink]="['/finalapprovers',item.Production_ID]">
                    <img _ngcontent-qwc-c46="" src="assets/images/Project_new.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
